<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" th:href="@{/icon/icon-logo.svg}" type="image/svg+xml">
    <title>401 - Unauthorized</title>
</head>
<body>
<div th:replace="~{error/_owl-error :: page(code='401', title='Unauthorized', descHtml='You need to sign in to access this page.<br/>Please log in and try again.', buttonText='Go to Login', buttonHref=@{/login})}">placeholder</div>
</body>
</html>
