<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" th:href="@{/icon/icon-logo.svg}" type="image/svg+xml">
    <title th:text="#{error.403.title}">403 - Forbidden</title>
</head>
<body>
<div th:replace="~{error/_owl-error :: page(code='403', title=#{error.403.title}, descHtml=#{error.403.description}, buttonText=#{error.403.btn}, buttonHref=@{/})}">placeholder</div>
</body>
</html>
