<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" th:href="@{/icon/icon-logo.svg}" type="image/svg+xml">
    <title th:text="#{error.500.title}">500 - Internal Server Error</title>
</head>
<body>
<div th:replace="~{error/_owl-error :: page(code='500', title=#{error.500.title}, descHtml=#{error.500.description}, buttonText=#{error.500.btn}, buttonHref=@{/})}">placeholder</div>
</body>
</html>
